{
  "extends": "hardcore-react",
  "parser": "babel-eslint",
  "rules": {
    "linebreak-style": [0, "unix"],
  },
  "globals": {
    "describe": true,
    "it": true,
    "path": true,
    "ga": true
  }
}
