.headerBar {
  display: flex;
  align-items: center;
  background-color: rgb(62, 62, 62);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.45);
  height: 64px;
}

.title {
  margin: 0 10px;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.86);
}

.leftIcon {
  outline: none;
  border: none;
  background: transparent;
  margin-top: 3px;
}

.inner {
  display: flex;
  align-items: center;
}
