.message {
  display: flex;
  align-items: center;
  padding: 5px;
  width: 100%;
  border-bottom: 1px rgba(0, 0, 0, 0.05) solid;
  border-radius: 1;
  user-select: text;
  max-height: 50;
  position: relative;
  overflow-y: hidden;
}

.msgWrap {
  line-height: 24px;
  min-width: 150;
}

.close {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 24px;
  width: 24px;
  top: 50%;
  margin-top: -10;
  right: 5;
  position: absolute;
}

.dismissBtn {
  cursor: pointer;
}
